body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: rgb(20, 15, 49);
}
.calculatrice{
    position: relative;
    display: grid;
}

.calculatrice .value {
    grid-column: span 4 ;
    height:100px;
    text-align: right;
    border: 0;
    padding: 10px;
    font-size: 19px;
    outline: 0;
}
.calculatrice span:hover{
    background-color: rgb(114, 80, 16);
}
.calculatrice span:active{
    background-color: rgb(17, 190, 202);
}
.calculatrice span.erase{
    grid-column: span 2;
    width: 100%;
}
.calculatrice span.plus{
    grid-row:span 2;
    height: 100%;
}
.calculatrice span.equal{
    background-color:rgb(6, 81, 100) ;
}
.calculatrice span {
    cursor: pointer;
    display: grid;
    width: 60px;
    height: 60px;
    color: white;
    background-color: rgb(36, 36, 82);
    place-items: center ;
    border: 1px solid rgb(158, 123, 25);
}

.value{
    width: 91%;
    position: relative;
    bottom: 1px;
}